*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-45deg, grey 30%, dodgerblue 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

select {
    padding: 10px;
    display: flex;
    font-size: 32px;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid black;
    width: 32%;
    margin-left: 4%;
    background-color: white;
    box-shadow: 0px 0px 35px 0px black;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    font-weight: bold;
}

.manager {
    position: absolute;
    right: 100px;
    bottom: 35px;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 2px #000;
}

.carousel { 
    font-weight: bold;
    color: black;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-item p {
    color: black;
    font-size: 34px;
    font-weight: normal;
    padding: 0 7px;
    transition: .5s; 
    border-radius: 7px;
    text-shadow: 1px 1px 2px #000;
}

.carousel img {
    height:19.5%;
    cursor: pointer;
    border-radius:15px;
    transition: .5s;
    box-shadow: 0px 0px 35px 0px black;
}

.sidepic {
    position: absolute;
    top:45%;
    left: 8%;
    height: 300px;
    border-radius: 20px;
}

.title {
    font-size: 50px;
    margin: 30px;
    margin-left: 80px;
    text-shadow: 1px 1px 2px #000;
}

.label {
    margin-top: 50px;
    margin-left: 4.5%;
    font-size: 32px;
    color: black;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 15px;
    text-shadow: 1px 1px 2px #000;
}

.carousel-item span {
    position: absolute;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
    font-weight: 500;
}

#FL {
    position: absolute;
    left: 41%; /* Updated value */                
    top: 37.5%; 
}

#FL2 {
    position: absolute;
    left: 41%;               
    top: 18%; /* Updated value */
}

#FL3 {
    left: 955px;
    top: 250px;
}

#PTS1 {
    left: 955px;
    top: 300px;
}

#FC {
    position: absolute;
    left: 56%; /* Updated value */               
    top: 37.5%; 
}

#FC2 {
    position: absolute;
    left: 56%; /* Updated value */                
    top: 18%;
}

#FC3 {
    left: 1240px;
    top: 250px
}

#PTS2 {
    left: 1240px;
    top: 300px;
}

#FR {
    position: absolute;
    left: 71%; /* Updated value */               
    top: 37.5%;
}

#FR2 {
    position: absolute;
    left: 71%; /* Updated value */                
    top: 18%;
}

#FR3 {
    left: 1530px;
    top:250px;
}

#PTS3 {
    left: 1530px;
    top: 300px;
}

#DL {
    position: absolute;
    left: 48.5%; /* Updated value */               
    top: 64.5%;
}

#DL2 {
    position: absolute;
    left: 48.5%; /* Updated value */                
    top: 45%;
}

#DL3 {
    left: 1095px;
    top: 540px;
}

#PTS4 {
    left: 1095px;
    top: 590px;
}

#DR {
    position: absolute;
    left: 63.5%; /* Updated value */               
    top: 64.5%;
}

#DR2 {
    position: absolute;
    left: 63.5%; /* Updated value */                
    top: 45%;
}

#DR3 {
    left: 1385px;
    top: 540px;
}

#PTS5 {
    left: 1385px;
    top: 590px;
}

#G {
    position: absolute;
    left: 56%; /* Updated value */               
    top: 89.5%;
}

#G2 {
    position: absolute;
    left: 56%; /* Updated value */                
    top: 70%;
}

#G3 {
    left: 1240px;
    top: 830px;
}