*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-45deg, grey 30%, lime 70%);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover; 
    position: relative;
}

select {
    padding: 10px;
    display: flex;
    font-size: 32px;
    text-shadow: 1px 1px 3px #000;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid black;
    width: 32%;
    margin-left: 4%;
    background-color: white;
    box-shadow: 0px 0px 35px 0px black;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.manager {
    position: absolute;
    right: 100px;
    top: 35px;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 3px #000;
}

.sidepic {
    position: absolute;
    top: 38%;
    left: 6%;
    object-fit: contain;
    width: 400px;
    height: 400px;
}

.label {
    margin-top: 175px;
    margin-left: 4.5%;
    font-size: 32px;
    color: black;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 15px;
    text-shadow: 1px 1px 4px #000;
}

.rectangle {
    position: relative;
    margin-left: 800px;
    margin-top: 30px;
    width: 1000px;
    height: 680px;
    padding:0 200px
}

/* .rectangle {
    position: relative;
    margin-left: 700px;
    margin-top: -60px;
    width: 1000px;
    height: 680px;
    padding:0 200px
} */

.title {
    position: absolute;
    left:50px;
    top: 30px;
    text-shadow: 1px 1px 6px #000;
    font-size: 44px;
}

.rectangle > div, .rectangle img {
    position: absolute;
    font-size: 34px;
    white-space: nowrap;
    text-shadow: 1px 1px 3px #000;
}

.STL { top: 0.5%; left: 34%; }
.STL2 {top: -21%; left:34%}
.STC { top: 0.5%; left: 45%; }
.STC2 { top: -21%; left: 45%; }
.STR { top: 0.5%; left: 56%; }
.STR2 { top: -21%; left: 56%; }
.LW { top: 24.5%; left: 5%; }
.LW2 { top: 3%; left: 5%; }
.LF { top: 30.5%; left: 15%; }
.LF2 { top: 9%; left: 15%; }
.AMLC { top: 28.5%; left: 35%; }
.AMLC2 {top: 7%; left: 35% } 
.AMC { top: 28.5%; left: 45%; }
.AMC2 { top: 7%; left: 45%; }
.AMRC { top: 28.5%; left: 55%; }
.AMRC2 { top: 7%; left: 55%; }
.RF { top: 30.5%; left: 74%; }
.RF2 { top: 9%; left: 74%; }
.RW { top: 24.5%; left: 84%; }
.RW2 { top: 3%; left: 84%; }
.WL { top: 54%; left: 0; }
.WL2 { top:32.5%; left: 0; }
.LCM { top: 57%; left: 29%; }
.LCM2 { top: 35.5%; left: 29%; }
.CM { top: 60%; left: 45%; }
.CM2 { top: 38.5%; left: 45%; }
.RCM { top: 57%; left: 61%; }
.RCM2 { top:35.5%; left: 61%; }
.WR { top: 54%; left: 89%; }
.WR2 { top: 32.5%; left: 89%; }
.LWB { top: 75%; left: 0; }
.LWB2 { top: 53.5%; left: 0; }
.DM { top: 70.5%; left: 45%; }
.DM2 { top: 49%; left: 45%; }
.RWB { top: 75%; left: 89%; }
.RWB2 { top: 53.5%; left: 89%; }
.LB { top: 85.5%; left: 1%; }
.LB2 { top: 64%; left: 1%; }
.LCB { top: 88.5%; left: 29%; }
.LCB2 { top: 67%; left: 29%; }
.CB { top: 88.5%; left: 45%; }
.CB2 { top: 67%; left: 45%; }
.RCB { top: 88.5%; left: 61%; }
.RCB2 { top: 67%; left: 61%; }
.RB { top: 87.5%; left: 88%; }
.RB2 { top: 66%; left: 88%; }
.GK { top: 117.5%; left: 45%; }
.GK2 { top: 96%; left: 45%; }

.rectangle > div {
    margin-top: 3px;
}

.rectangle img {
    border-radius: 16px;
    height: 150px;
    box-shadow: 0px 0px 25px 0px
}